/* body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../Assets/images/dogs.jpeg") !important;
  min-height: 100vh !important;
  background-size: cover !important;
} */
